<h1>Random Group Generator</h1>
<div class="wrap alt">
    <p class="toggle-wrap">Number of People per group <a class="choice" href="#choice"><strong>TOGGLE</strong><span class="switch"></span></a> Number of Groups</p>
    <p class="pergroup-wrap">Number of students per group: <input class="pergroup" type="integer" value="" /></p>
    <p class="numgroups-wrap">Number of groups: <input class="numgroups" type="integer" value="" /></p>
    <p><textarea name="students" id="students" cols="40" rows="15">Lovella
        Harry
    </textarea></p>
    <button>Make Groups</button>
    <div class="groups"></div>
</div>
<p><small>This tool was made as a proof of concept for <a href="http://flipquiz.me">FlipQuiz</a>&trade;. Production version can now be seen <a href="http://flipquiz.me/grouper">here</a>.</small></p>